:root {
  --purple-1:#A569BD;
  --purple-2:#1e0329;
  --blue-1:#261a88;
  --white:#f6f6f6;
  --grey-1:#BBBABD;
  --shadow-dark:rgba(0,0,0,0.3);
  --shadow-light:rgba(255,255,255,0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-1);
}

.container {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 500px;
  height: 600px;
  background-color: var(--purple-2);
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}

.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location {
  color: #FFF;
  text-align: center;
  font-size: 1.2em;
}

.temperature {
  color: #FFF;
  font-size: 4em;
  text-align: center;
  font-weight: 900 ;
}

.more-info-label{
  color: #FFF;
}
.more-info-container{
  flex: 1;
  background-color: rgba(255,255,255,0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block{
  width: 50%;
  display: flex;
  flex-direction: row;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.info-block-label img {
  width: 3.0em;
}
.info-block-label span {
  color: #FFF;
  font-size: 1.0em;

}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:#c1f700;
}

.button-15 {
  margin-left: -300px;
  margin-top: 700px;
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

